.mt-navbar{
  border:1px solid #e4e4e4;
  height:45px;
  background:rgb(248,248,248);

  display:-webkit-flex;
  display:flex;
  justify-content:center;

  min-width:500px;
}

.nav-with-signin,
.nav-with-signout{
  //border:1px solid blue;
  height:100%;
  width:100%;

  display:-webkit-flex;
  display:flex;
  align-items:center;

  max-width:1120px;

}

.nav-with-signin{
  display:none;
}

.nav-with-signout{
  justify-content:space-between;
  p{
    //border:1px solid red;
    margin:0;
  }

  p:nth-child(1){
    margin-left:20px;
    font-size:18px;
    color:#365899;

  }

  p:nth-child(2){
    margin-right:20px;
  }

}

