.mt-navbar{
  border:1px solid #e4e4e4;
  height:45px;
  background:rgb(248,248,248);

  display:-webkit-flex;
  display:flex;
  justify-content:center;

  min-width:500px;
}

.nav-with-signin,
.nav-with-signout{
 // border:1px solid blue;
  height:100%;
  width:100%;

  display:-webkit-flex;
  display:flex;
  align-items:center;

  max-width:1120px;

}

.nav-with-signin{
  //display:none;
  justify-content:space-between;
  padding-top:5px;
}

.mt-nav-group{
  display:-webkit-flex;
  display:flex;
  justify-content:flex-end;

  // 登录后的头像显示
  img{
    width:40px;
    height:40px;
    border-radius:50px;
  }
}

// 发约按钮
#btn-story{
  width:85px;
  height:35px;
  padding-top:7px;
  font-size:14px;
}

// 设置按钮
#dropdownMenu1{
  border:0;
  border-radius:50px;
  background:rgb(248,248,248);
  //border:1px solid red;
  span{
    font-size:25px;
    margin-top:3px;
    color:#0099ff;
  }

  span:hover{
    color:#0099d0;
  }
}

// 设置的下拉菜单
.nav-setting-dropdown-menu{
  margin-top:-5px;
}



.mt-nav-item{
  margin-left:20px;
}


#nav-head-icon{
  cursor:pointer;
}


.nav-with-signout{
  //display:none;
  justify-content:space-between;
  p{
    margin:0;
  }
}


.mt-nav-title{
  font-size:18px;
  color:#365899;
}

.mt-nav-title:hover{
  text-decoration:none;
  color:#365899;
}

