/* Global css style */

$index-max-width:1120px;

@font-face{
  font-family: 'dongqingheiti';
  src: font_url('dongqingheiti.otf') format('opentype');
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font_url('glyphicons-halflings-regular.eot');
  src: font_url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  font_url('glyphicons-halflings-regular.woff') format('woff'),
  font_url('glyphicons-halflings-regular.ttf') format('truetype'),
  font_url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}


*{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  //font-family:"dongqingheiti";
}

body{
    margin:0;
    padding:0;
    overflow-y:scroll;
   //border:1px solid red;
    min-height:100vh;
    display:-webkit-flex;
    display:flex;
    flex-direction:column;
}

// 整个浏览器的宽度
.mt-container{
  //border:2px solid red;
  flex:1;
  display:-webkit-flex;
  display:flex;
  justify-content:center;

}

// 中间，1120px 宽度
.mt-item-container{
  //border:1px solid blue;
  flex:1;
 // min-width:$index-max-width;
  max-width:$index-max-width;

  //height:100px;
}


.mt-headicon{
  width:60px;
  height:60px;
}


.debug-red{
  border:1px solid red;
}

.debug-blue{
  border:1px solid blue;
}

.debug-green{
  border:1px solid green;
}

