<nav class="mt-navbar">
    <div class="nav-with-signin">

    </div>

    <div class="nav-with-signout">
        <p><strong>MeetThere 遇见新的故事</strong></p>
        <p><button class="btn btn-default">登录发约</button></p>
    </div>
</nav>